@import "variables";
.card-block {
  display: flex;
  padding: 3vh 0 3vh 0;
  width: 15vw;
  height: 15vh;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
}
.card-block:hover {
  background-color: $primary-color;
}

.card-block:active {
  background-color: $secondary-color;
}
.long-card-block {
  @extend .card-block;
  width: 30vw;
  justify-content: space-around;
}
.text-card-block {
  position: absolute;
  padding: 3px 10px 3px 10px;
  // width: 5vw;
  text-align: center;
  background-color: $secondary-color;
  bottom: -10px;
  border-radius: 10px;
}
